other/
old scripts/
math efficiency test.py
data/
data_test/
__pycache__/
*.pyc
.idea/
.idea/sonarlint/
test/
bot_login_keys.py
chat_test.py
bot_login_test.py
main_test.py
ui_test.py
url_test.py
w_r_files_test.py
.vs/